@font-face {
  font-family: "PlusJakartaSans";
  src: url("/assets/fonts/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
}

:root {
  --red: hsl(1, 90%, 64%);
  --blue: hsl(219, 85%, 26%);
  --white: hsl(0, 0%, 100%);
  --snow: hsl(210, 60%, 98%);
  --very-light-gray-blue: hsl(205, 33%, 90%);
  --light-gray-blue: hsl(211, 68%, 94%);
  --gray-blue: hsl(219, 14%, 63%);
  --dark-gray-blue: hsl(219, 12%, 42%);
  --very-dark-gray-blue: hsl(224, 21%, 14%);
  --f-header: 800 1.5rem "PlusJakartaSans", sans-serif;
  --f-body-bold: 800 1rem "PlusJakartaSans", sans-serif;
  --f-body: 500 1rem "PlusJakartaSans", sans-serif;
}

html {
  font-size: 16px;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font: var(--f-body);
}